# Created by venv; see https://docs.python.org/3/library/venv.html
cyberskill.db
web/static/img/avatars/e1bf2b1e-a7e6-4165-a052-8dccc83f74d9.jpg
web/static/img/avatars/46e7742a-8302-4257-ac25-d7ed2f6ddf2b.jpg
