<header id="header">
    <div class="container">
        <div class="header-content">
            <a href="http://127.0.0.1:8000/" class="logo">Cyberskill</a>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:8000/">Курсы</a></li>
                    <li><a href="http://127.0.0.1:8000/">Тестирование</a></li>
                    <li><a href="http://127.0.0.1:8000/">Лидерборд</a></li>
                    <li><a href="http://127.0.0.1:8000/">О нас</a></li>
                    <li><a href="http://127.0.0.1:8000/">Контакты</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="#" class="btn" id="loginBtn">Вход</a>
                <a href="#" class="btn btn-pink" id="registerBtn">Регистрация</a>
                <div id="userMenu" style="display: none;">
                    <a href="profile.html" class="btn btn-pink" id="profileBtn">Профиль</a>
                    <a href="#" class="btn" id="logoutBtn">Выход</a>
                </div>
            </div>
            <div class="language-switcher">
                <select id="languageSelect" class="language-select">
                    <option value="ru" data-flag="🇷🇺">Русский</option>
                    <option value="en" data-flag="🇺🇸">English</option>
                    <option value="kz" data-flag="🇰🇿">Қазақша</option>
                </select>
            </div>
            <div class="mobile-menu-btn" id="mobileMenuBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>